body {
  background-image: url(https://ssl.quiksilver.com/static/QS/default/category-assets/marketing-landing/landing/build/img/surf/tiles/surf_featured_1.jpg);
  background-size: cover;
}


h1, h2, p {
  font-family: 'Roboto', sans-serif;
  color: red;
}

h1 {
  text-align: center;
}

img {
  width: 200px;
}

